

body {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 40px;
    background-image: linear-gradient(red, yellow);
    font-size: x-large;
}

.nav-anchor {
    color: white;
    background-color: rgb(253, 0, 0);
    font-size: x-large;
    text-decoration: none;
    border: 3px ridge grey;
    border-radius: 10px;
    padding: 5px;
}

.nav-anchor:hover {
    color: red;
    font-size: xx-large;
    padding-top: 0px;
    background-color: white;
}

/* INDEX.HTML STYLING */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

#image {
    width: 40%;
    /* border: 1px solid blue; */
}
.image {
    margin: 40px;
    /* border: 1px solid crimson; */
}

#main-image {
    width: 100%;
    height: auto;
    border: 3px ridge grey;
    border-radius: 3px;
}

#details {
    border: 3px ridge grey;
    /* width: 15vw; */
}

.details {
    font-size: 1.15em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.details h3 {
    margin-top: -10px;
}

.details ol {
    margin-top: -15px;
}

#mobile-details {
    display: none;
}
#about {
    max-width: 80%;
    margin: 0 auto;
    border: 3px ridge grey;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.about p {
    margin-top: 0px;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 3%;
    padding: 8px;
}

.social-icon:hover {
    width: 3.5%;
}

.social-icon img {
    width: 100%;
    border: 3px ridge grey;
    border-radius: 10px;
    padding: 2px;
}

/* PORTFOLIO.HTML STYLING */
.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.films img {
    width: 22%;
    height: auto;
    margin: 10px 5px;
    /* padding: 5px; */
    border: 3px ridge grey;
    border-radius: 10px;
}

#section-heading {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* CONTACT PAGE */
 #signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup {
    width: 55%;
}

input {
    width: 99%;
    padding: 10px 5px;
    margin-top: 10px;
    border: 3px ridge grey;
    border-radius: 10px;
    background-color: rgba(255, 255, 7, 0.159);
    box-sizing: border-box;
    font-size: .9em;
}

input:focus {
    background-color: white;
    padding: 10px;
    font-size: large;
}

button {
    padding: 5px;
    margin-top: 20px;
    font-size: .98em;
    background-color: red;
    color: white;
    border: 3px ridge grey;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    color: red;
    font-size: large;
    padding-top: 0px;
    background-color: white;
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) {
    #signup {
        width: 85%;
    }
    .films img {
        width: 70%;
    }
    #main {
        flex-direction: column;
        margin-top: 10px;
    }
    #image {
        width: 85%;
        /* border: 1px solid red; */
        display: flex;
    }
    .image {
        width: 100%;
        margin: 3px;
        /* border: 1px solid green; */
    }
    #main-image {
        width: 97%;
    }
    #details {
        margin-top: 10px;
    }
    .details {
        display: none;
    }
    #mobile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
        margin-top: -10px;
        margin-bottom: 5px;
    }
    #mobile-social {
        display: flex;
        justify-content: center;
    }

    .m-social-icon {
        padding: 3px;
        width: 15%;
        margin-top: -15px;
    }
    .m-social-icon img {
        width: 80%;
        border: 3px ridge grey;
        border-radius: 10px;
        padding: 2px;
    }
    .m-social-icon:hover {
        width: 18%;
    }
    #about {
        margin-top: 15px;
    }
    footer {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #signup {
        width: 75%;
    }
    .films img {
        width: 40%;
    }
    #main {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #image {
        width: 55%;
    }
    .image {
        margin: 40px 25px 40px 0px;
    }
    #details {
        font-size: .85em;
    }
    .social-icon {
        width: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .films img {
        width: 30%;
    }
    .social-icon {
        width: 4%;
    }
}